<!DOCTYPE html>
<html lang="es" ng-app="LoginFormModule">
<head>
    <meta charset="UTF-8">
    <title>Form AngularJS</title>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div>

            </div>
        </div>
    </div>
</nav>

<div class="container main-content" ng-controller="LoginFormController">
    <form name="theForm" novalidate="novalidate" ng-submit="onSubmit(theForm.$valid);">
        <h1>&nbsp;</h1>
        <div class="form-group">
            <label for="name">T&uacute; Nombre</label>
            <input type="text" class="form-control" id="name" required="required" ng-model="formModel.name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" required="required" ng-model="formModel.password">
        </div>
        <div class="form-group" ng-class="{
            'has-error': !theForm.email.$valid && (!theForm.$pristine || theForm.submitted),
            'has-success': theForm.email.$valid && (!theForm.$pristine || theForm.submitted)
            }
        ">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required="required" ng-model="formModel.email">
        </div>
        <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
            El campo email es obligatorio
        </p>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
    </form>

    <pre>{{ formModel.name | json }}</pre>
    <pre>{{ formModel.password | json }}</pre>
    <pre>{{ formModel.email | json }}</pre>
</div>
<!-- JS -->
<script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../controller/FormValidationController.js"></script>
</body>
</html>