<!DOCTYPE html>
<html lang="es">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>

	<main>
		<% include ../../partials/preaprobacion %>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>