<!DOCTYPE html>
<html lang="es">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#">
	                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
	                Ingreso al Sistema
	            </a>
	        </div>
	    	</div>
	    </div>
	</nav>
	<form action="/auth" class="form-signin" method="post">
		<h2 class="form-signin-heading">Login</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="text" class="form-control" id="run" placeholder="R.U.N" name="run" required>
		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" id="update">INGRESAR</button>
	</form>
</body>
</html>