<!DOCTYPE html>
<html lang="es">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#">
	                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
	                Formulario de Registro
	            </a>
	        </div>
	    	</div>
	    </div>
	</nav>
	<form action="/nuevouser" method="post" accept-charset="utf-8">
		<div class="row">
		<div class="col-md-12">
			<div class="form-group">
			    <label for="run">RUN:</label>
			    <input type="text" class="form-control" id="run" placeholder="xx.xxx.xxx-x" name="run" required>
			</div>
			<div class="form-group">
			    <label for="nombre">Nombre:</label>
			    <input type="text" class="form-control" id="nombre" placeholder="Pedro Pablo" name="nombre" required>
			</div>
			<div class="form-group">
			    <label for="apellidoPaterno">Apellido Paterno:</label>
			    <input type="text" class="form-control" id="apellidoPaterno" placeholder="Perez" name="apellidoPaterno" required>
			</div>
			<div class="form-group">
			    <label for="email">Email:</label>
			    <input type="email" class="form-control" id="email" placeholder="correo@correo.com" name="email" required>
			</div>
			<div class="form-group">
			    <label for="password">Password:</label>
			    <input type="password" class="form-control" id="password" placeholder="correo@correo.com" name="password" required>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="colmd-12">
				<button type="submit" class="btn btn-success btn-block">REGISTRARSE</button>
			</div>
		</div>
	</form>
</body>
</html>