<form action="/aprobacion" method="post">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			    <label for="run">RUN:</label>
			    <input type="text" class="form-control" id="run" placeholder="xx.xxx.xxx-x" name="run" required>
			</div>
			<div class="form-group">
			    <label for="nombre">Nombre:</label>
			    <input type="text" class="form-control" id="nombre" placeholder="Pedro Pablo" name="nombre" required>
			</div>
			<div class="form-group">
			    <label for="apellidoPaterno">Apellido Paterno:</label>
			    <input type="text" class="form-control" id="apellidoPaterno" placeholder="Perez" name="apellidoPaterno" required>
			</div>
			<div class="form-group">
			    <label for="apellidoMaterno">Apellido Materno:</label>
			    <input type="text" class="form-control" id="apellidoMaterno" placeholder="Palotes" name="apellidoMaterno" required>
			</div>
			<div class="form-group">
			    <label for="fechaNacimiento">Fecha Nacimiento:</label>
			    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
			</div>
			<div class="form-group">
				<label for="sexo">Sexo:</label>
			    <div class="radio">
					  <label><input type="radio" name="sexo" id="masculino" value="M" checked> Masculino </label>
					  <label><input type="radio" name="sexo" id="femenino" value="F"> Femenino </label>
					</div>
			</div>
			<div class="form-group">
			    <label for="estadoCivil">Estado Civil:</label>
			    <select class="form-control" id="estadoCivil" name="estadoCivil">
				  <option>-- Seleccione --</option>
				  <option value="soltero">Soltero</option>
				  <option value="casado">Casado</option>
				  <option value="viudo">Viudo</option>
				  <option value="divorciado">Divorciado</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="hijos">¿Hijos?:</label>
						<div class="checkbox">
							<label>
						    	<input type="checkbox" id="hijos" name="hijos" value="Sí" required> S&iacute;
						    </label>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					    <label for="cantidadHijos">Cantidad:</label>
					    <input type="number" class="form-control" id="cantidadHijos" name="cantidadHijos" required>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			    <label for="telefono">Tel&eacute;fono:</label>
			    <input type="text" class="form-control" id="telefono" placeholder="569xxxxxxxx" name="telefono" required>
			</div>
			<div class="form-group">
			    <label for="email">Email:</label>
			    <input type="email" class="form-control" id="email" placeholder="correo@correo.com" name="email" required>
			</div>
			<div class="form-group">
			    <label for="direccion">Direcci&oacute;n:</label>
			    <input type="text" class="form-control" id="direccion" name="direccion" required>
			</div>
			<div class="form-group">
			    <label for="comuna">Comuna:</label>
			    <select class="form-control" id="comuna" name="comuna" required>
				  <option>-- Seleccione --</option>
				  	<option value="Santiago">Santiago</option>
					<option value="Independencia">Independencia</option>
					<option value="Conchalí">Conchalí</option>
					<option value="Huechuraba">Huechuraba</option>
					<option value="Recoleta">Recoleta</option>
					<option value="Providencia">Providencia</option>
					<option value="Vitacura">Vitacura</option>
					<option value="Lo Barnechea">Lo Barnechea</option>
					<option value="Las Condes">Las Condes</option>
					<option value="Ñuñoa">Ñuñoa</option>
					<option value="La Reina">La Reina</option>
					<option value="Macul">Macul</option>
					<option value="Peñalolén">Peñalolen</option>
					<option value="La Florida">La Florida</option>
					<option value="San Joaquín">San Joaquín</option>
					<option value="La Granja">La Granja</option>
					<option value="La Pintana">La Pintana</option>
					<option value="San Ramón">San Ramón</option>
					<option value="San Miguel">San Miguel</option>
					<option value="La Cisterna">La Cisterna</option>
					<option value="El Bosque">El Bosque</option>
					<option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
					<option value="Lo Espejo">Lo Espejo</option>
					<option value="Estación Central">Estación Central</option>
					<option value="Cerrillos">Cerrillos</option>
					<option value="Maipú">Maipú</option>
					<option value="Quinta Normal">Quinta Normal</option>
					<option value="Lo Prado">Lo Prado</option>
					<option value="Pudahuel">Pudahuel</option>
					<option value="Cerro Navia">Cerro Navia</option>
					<option value="Renca">Renca</option>
					<option value="Quilicura">Quilicura</option>
					<option value="Colina">Colina</option>
					<option value="Lampa">Lampa</option>
					<option value="Tiltil">TilTil</option>
					<option value="Puente Alto">Puento Alto</option>
					<option value="San José de Maipo">San José de Maipo</option>
					<option value="Pirque">Pirque</option>
					<option value="San Bernardo">San Bernardo</option>
					<option value="Buin">Buin</option>
					<option value="Paine">Paine</option>
					<option value="Calera de Tango">Calera de Tango</option>
					<option value="Melipilla">Melipilla</option>
					<option value="María Pinto">María Pinto</option>
					<option value="Curacaví">Curacaví</option>
					<option value="Alhué">Alhué</option>
					<option value="San Pedro">San Pedro</option>
					<option value="Talagante">Talagante</option>
					<option value="Peñaflor">Peñaflor</option>
					<option value="Isla de Maipo">Isla de Maipo</option>
					<option value="El Monte">El Monte</option>
					<option value="Padre Hurtado">Padre Hurtado</option>
				</select>
			</div>
			<div class="form-group">
			    <label for="educacion">Educaci&oacute;n:</label>
			    <select class="form-control" id="educacion" name="educacion" required>
				  <option>-- Seleccione --</option>
				  <option value="Profesional">Profesional</option>
				  <option value="T&eacute;cnico">T&eacute;cnico</option>
				  <option value="Media">Media</option>
				  <option value="B&aacute;sica">B&aacute;sica</option>
				  <option value="No Posee">No Posee</option>
				</select>
			</div>
			<div class="form-group">
			    <label for="renta">Tipo Renta:</label>
			    <select class="form-control" id="renta" name="renta" required>
				  <option>-- Seleccione --</option>
				  <option value="Fija">Fija</option>
				  <option value="Variable">Variable</option>
				  <option value="Boleta Honorarios">Boleta Honorarios</option>
				</select>
			</div>
			<div class="form-group">
			    <label for="sueldo">Sueldo:</label>
			    <input type="text" class="form-control" id="sueldo" name="sueldo" required>
			</div>
			<div class="form-group">
				<label for="enfermedad">¿Enfermedad Cr&oacute;nica?:</label>
				<div class="checkbox">
					<label>
				    	<input type="checkbox" id="enfermedad" name="enfermedad" value="Sí" required> S&iacute;
				    </label>
				</div>
			</div>
			<div class="form-group" hidden>
				<label for="estado">¿Aprobar?:</label>
				<div class="radio">
					<label><input type="radio" name="aprobado" id="no" value="No" checked> No </label>
					<label><input type="radio" name="aprobado" id="si" value="Sí"> Sí </label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="colmd-12">
			<button type="submit" class="btn btn-success btn-block">POSTULAR</button>
		</div>
	</div>
</form>
