{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <br><br>
    <h1>{{ titulo }}</h1>

    <br>

    <form method="post" action="/api/tareas" class="form-inline">
        <div class="form-group">
            <label>Ingrese Tarea</label>
            <input type="text" name="nombre" class="form-control" placeholder="Tarea" required>
        </div>
        <button type="submit" class="btn btn-default">Guardar</button>
    </form>

    <hr><br>

    <h2>Todas las Tareas <small>Haga clic en la tarea para editarla</small></h2>

    <ul>
        {% for tarea in tareas %}
        <li><a href="tareas/{{tarea.id}}">{{tarea.nombre}}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}