{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <br>
    <br>
    <div class="page-header">
        <h1>Bienvenido al Sistema de Tareas de CETECOM - DUOC</h1>
    </div>
</div>

{% endblock %}