<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- NO SE CARGAN LOS CSS NI JS POR ALGUNA RAZÓN EXPRESS NO TOMA LA RUTA CORRECTA
    EN LOCAL, SOLO TOMA EL CDN DE CADA COMPONENTE Y ESTA CONFIGURADA LA RUTA EN APP.JS
    <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <-! -->
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CETECOM</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/api/tareas">Agregar Tarea</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
{% block content %}
{% endblock %}
</section>
<!-- SCRIPTS -->
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- NO SE CARGAN LOCALES
<script type="text/javascript" src="../public/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SCRIPTS -->
</body>
</html>