{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <br>
    <br>
    <h1>{{ titulo }}</h1>

    <br>

    <form method="post" action="/api/tareas/{{tarea.id}}?_method=PUT">
        <div class="form-group">
            <label>Tarea</label>
            <input type="text" name="nombre" class="form-control" value="{{tarea.nombre}}" required>
        </div>
        <button type="submit" class="btn btn-default">Actualizar</button>
    </form>

    <br>

    <form method="post" action="/api/tareas/{{tarea.id}}?_method=DELETE" class="form-inline">
        <button type="submit" class="btn btn-default">Eliminar</button>
    </form>

    <br>
    <a href="/api/tareas" class="btn btn-info" role="button">Volver</a>
</div>

{% endblock %}