<!DOCTYPE html>
<html lang="es" ng-app="LoginFormModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div>
                <p><a class="navbar-brand" href="#">Primer Form Bootstrap + AngularJs.</a></p>
            </div>
        </div>
    </div>
</nav>

<div class="container main-content" ng-controller="LoginFormController">
    <form name="theForm" ng-submit="onSubmit();">
        <h1>&nbsp;</h1>
        <div class="form-group">
            <label for="name">T&uacute; Nombre</label>
            <input type="text" class="form-control" id="name" ng-model="formModel.name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" ng-model="formModel.password">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ng-model="formModel.email">
        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Registrar </button>
        </div>
    </form>
    <pre>{{ formModel.name | json }}</pre>
    <pre>{{ formModel.password | json }}</pre>
    <pre>{{ formModel.email | json }}</pre>
</div>
<!-- JS -->
<script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../controller/FormValidationController.js"></script>
</body>
</html>