<!DOCTYPE html>
<html lang="es">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#">
	                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
	                Listado de Solicitudes
	            </a>
	        </div>
	    	</div>
	    </div>
	</nav>
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>R.U.N</th>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
					<th>Estado Solicitud</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<creditos.length; i++) {%>
					<tr>
						<td><%= creditos[i]._id %></td>
						<td><%= creditos[i].run %></td>
						<td><%= creditos[i].nombre %></td>
						<td><%= creditos[i].apellidoPaterno %></td>
						<td><%= creditos[i].apellidoMaterno %></td>
						<% if(creditos[i].aprobado == "No"){ %>
							<td>Pendiente</td>
						<%}else {%>
							<td>Aprobado</td>
						<%}%>
						<td>
							<button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
							  <a href="show/<%= creditos[i]._id %>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
							</button>

							<button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
							  <a href="edit/<%= creditos[i]._id %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
							</button>

							<form action="delete/<%= creditos[i]._id %>?_method=DELETE" method="post">
								<button type="button" id="delete" class="btn btn-default btn-sm" aria-label="Left Align">
								  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</form>
						</td>
					</tr>
			  <% } %>
			</tbody>
		</table>
	</div>
</body>
</html>
