<!DOCTYPE html>
<html lang="es" ng-app="ingresoRequerimientos">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Ticket - CETECOM</title>
    <link href="../../../../libs/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div>
                <a class="navbar-brand">CETECOM</a>
            </div>
        </div>
    </div>
</nav>

<div class="container" ng-controller="ingresoRequerimientoController">
    <h1>&nbsp;</h1>

    <form class="form-horizontal" id="formTicket" name="formTicket" ng-submit="onSubmit();">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" id="req" ng-model="otroRequerimiento" class="form-control" placeholder="Ingresa Requerimiento">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-success">Ingresar Requerimiento</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-8">
            <h3>Lista de requerimientos</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="req in listaRequerimientos"> {{req}} </li>
            </ul>
        </div>
    </div>

</div>
<!-- JS -->
<script type="text/javascript" src="../../../../libs/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../controller/formController.js"></script>
<!-- JS -->
</body>
</html>